@import "tailwindcss";

@theme inline {
  --color-primary: #016fee;
  --color-primary-8: rgba(1, 111, 238, 0.08);
  --color-primary-hover: #005dc7;
  --color-secondary: #f2f8ff;
  --color-yellow: #f5a524;
  --color-yellow-8: rgba(245, 165, 36, 0.08);
  --color-purple: #7828c8;
  --color-purple-8: rgba(120, 40, 200, 0.08);
  --color-green: #17c964;
  --color-green-8: rgba(23, 201, 100, 0.08);
  --color-red: #f31260;
  --color-red-8: rgba(243, 18, 96, 0.08);
  --color-lg-table: #f4f4f5;
  --color-wh: #ffffff;
  --color-bg: #f0f0f0;
  --color-lg: #e3e3e3;
  --color-gr: #bababa;
  --color-sv: #949494;
  --color-dg: #3d3d3d;
  --color-bl: #000000;

  --font-family-sans: var(--font-pretendard);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@layer components {
  .Heading-1 {
    font-size: 32px;
    line-height: 1.5;
    font-weight: var(--font-weight-bold);
    color: #18181b;
    letter-spacing: -0.02em;
  }
  .Heading-2 {
    font-size: 28px;
    line-height: 1.5;
    font-weight: var(--font-weight-bold);
    color: #18181b;
    letter-spacing: -0.02em;
  }
  .Heading-3 {
    font-size: 22px;
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
    color: #18181b;
    letter-spacing: -0.02em;
  }
  .Heading-4 {
    font-size: 18px;
    line-height: 1.3;
    font-weight: var(--font-weight-semibold);
    color: #18181b;
    letter-spacing: -0.02em;
  }
  .Heading-5 {
    font-size: 14px;
    line-height: 1.2;
    font-weight: var(--font-weight-medium);
    color: #18181b;
    letter-spacing: -0.02em;
  }
  .Me_Body-1 {
    font-size: 16px;
    line-height: 1.6;
    font-weight: var(--font-weight-medium);
    color: #000000;
  }
  .Me_Body-2 {
    font-size: 18px;
    line-height: 1.6;
    font-weight: var(--font-weight-medium);
    color: #000000;
  }
  .Me_Body-3 {
    font-size: 22px;
    line-height: 1.2;
    font-weight: var(--font-weight-medium);
    color: #18181b;
  }
  .Re_Body-1 {
    font-size: 16px;
    line-height: 1.6;
    font-weight: var(--font-weight-medium);
    color: #000000;
  }
}

body {
  margin: 0;
  padding: 0;
}
