/* PDF 생성용 전용 스타일 */

.pdf-container {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 8px;
}

.pdf-title {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 600; /* bold */
  color: #18181b;
  height: 42px;
}

.pdf-section {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.pdf-section-title {
  height: 40px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600; /* bold */
  color: #18181b;
}

.pdf-table {
  width: 100%;
  border-top: 1px solid #e3e3e3;
}

.pdf-table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e3e3e3;
}

.pdf-table-cell {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.pdf-table-cell .label {
  width: 137px;
  min-width: 137px;
  max-width: 137px;
  padding: 2px 12px;
  background-color: #f4f4f5;
  display: flex;
  align-items: top;
}

.pdf-table-cell .label p {
  font-size: 16px;
  font-weight: 400; /* medium */
  color: #949494;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

.pdf-table-cell .content {
  padding: 2px 12px;
  display: flex;
  align-items: top;
}

.pdf-table-cell .content p {
  font-size: 16px;
  font-weight: 400; /* medium */
  color: #000000;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

/* 
 제품 목록 테이블
*/
.pdf-product-table {
  width: 100%;
  border-top: 1px solid #e3e3e3;
}

.pdf-product-table-header {
  height: 48px;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pdf-product-table-header p {
  font-size: 16px;
  font-weight: 400; /* medium */
  color: #949494;
  padding: 0px 12px;
}

.pdf-product-table-body {
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.pdf-product-table-body p {
  font-size: 16px;
  font-weight: 400; /* medium */
  color: #000000;
  padding: 7px 12px;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

/* 총 금액 정보 */
.pdf-summary {
  background-color: #f4f4f5;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.pdf-summary-row {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pdf-summary-label {
  height: 100%;
  font-size: 16px;
  font-weight: 300; /* medium */
  color: #949494;
  padding-top: 4px;
}

.pdf-summary-value-wrapper {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdf-summary-value {
  color: #016fee;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 4px;
}

.pdf-summary-unit {
  color: #949494;
  font-size: 18px;
  font-weight: 400;
}

/* 컬럼 너비 조정 */
/* .pdf-col-name { flex: 1; }
.pdf-col-code { flex: 1; }
.pdf-col-quantity { flex: 1; }
.pdf-col-price { width: 120px; }
.pdf-col-amount { flex: 1; } */
